{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock%}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new-password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password-again" name="confirmation" placeholder="New password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>


    </form>

{% endblock%}